{% extends 'Next/base.html' %}
{% block head %}
<script type="text/javascript" src="/media/js/Next/home.js"></script>
{% endblock %}

{% block pageactions %}
<div class="btn-group btn-group-sm col-xs-12 col-sm-auto" role="group" aria-label="...">
        <button id="restart_failed" class="btn btn-default col-xs-12 col-sm-auto"><span>{{_("Restart Failed")}}</span></button>
</div>
{% endblock %}

{% block subtitle %}{{_("Active Downloads")}}{% endblock %}
{% block content %}
<table class="table" style="width:98%;">
    <thead>
  <tr class="header">
    <th class="hidden-xs">{{_("Status")}}</th>
    <th>{{_("Name")}}</th>
    <th>{{_("Information")}}</th>
    <th class="hidden-xs">{{_("Size")}}</th>
    <th class="hidden-xs">{{_("Progress")}}</th>
  </tr>
    </thead>
  <tbody id="LinksAktiv">
  </tbody>
</table>
{% endblock %}
